<!-- login -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />
      <small *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format.</small>
      <small *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</small>
    </div>
  
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" />
      <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</small>
    </div>
  
    <button type="submit">Login</button>
    <div *ngIf="loginError">
      <p>Invalid email or password. Please try again.</p>
    </div>
  </form>
  